#root {
  max-width: 100%;
  margin: 0 auto auto 0;
}

/*nav*/
header nav {
  font-size: 1.3rem;
  color: #f4a261;
  display: flex;
  justify-content: space-between;
}

header nav button {
  display: inline-block;
  padding: 0.6rem 1.1rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

head nav button:hover {
  background-color: #e76f51;
}

header nav div {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
}

input, textarea{
    font-family: monospace;
}

@media (max-width: 480px) {
  header nav {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav div {
    margin-bottom: 0.5rem;
    gap: 0.3rem;
  }

  header nav button {
    align-self: stretch;
    width: 100%;
  }
}


/*recipe container*/
.recipes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

@media (max-width: 480px) {
  .recipe-card {
    padding: 1rem;
    margin: 0.5rem;
  }

  .recipes-container {
    grid-template-columns: 1fr;
    padding: 0.5rem;
  }
}


/*login, register*/
.login {
  align-content: center;
  text-align: center;
  border-radius: 12px;
  margin: 10px;
  width: auto;
}

.login input {
    padding-right: 30px;
}

.show-password {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #e76f51;
    height: 100%;
    font-weight: 500;
}

.show-password:hover {
    color: #bc4c2e;
    background: none;
    border: none;
}

.login-field {
    text-align: left;
    margin: 0 auto 0.5rem auto;
    width: fit-content;
}

.login-field label {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: 500;
}
