/*homepage*/
.homepage-container {
    padding: 1vw;
    text-align: center;
}

.homepage-title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.homepage-subtitle {
    font-size: 1.25rem;
    color: #666;
    margin-bottom: 2rem;
}

.homepage-sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0 auto;
    padding: 1rem;
    gap: 2rem;
}

.homepage-button {
    padding: 0.5rem 1rem;
    background-color: #f4a261;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s ease;
    margin-top: auto;
    display: block;
    width: fit-content;
}

.homepage-button:hover {
    background-color: #e76f51;
    color: white;
}

/*homepage card*/
.card {
    background-color: #f8e8d6;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgb(209, 200, 196);
    text-align: left;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    transform: translateY(-4px);
}

.card h2 {
    margin-bottom: 0.5rem;
    color: #1a1a1a;
}

.card p {
    color: #1a1a1a;
}