/*recipe card*/
.recipe-card-scrollbar {
    max-height: 600px;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: #c4b5aa transparent;

    word-break: break-word;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
}

.recipe-card,
.recipe-card-scrollbar {
    background-color: #f8e8d6;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgb(209, 200, 196);
    text-align: left;
    transition: transform 0.2s ease;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;

    word-break: break-word;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
    max-width: 100%;
    box-sizing: border-box;
}

.recipe-card:hover {
    transform: translateY(-2px);
}

.recipe-card-name {
    display: block;
    text-align: right;
    padding-right: 10px;

}

.favorites-button {
    padding: 6px 12px;
    background-color: #f8e8d6;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
.favorites-button:hover {
    background-color: #f8e0d6;
    color: black;
}